<a href="https://colab.research.google.com/github/maren318/MAT421/blob/main/MAYT421_ModuleA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Base-N and Binary

In [ ]:
##Base-N and Binary

In [ ]:
def convert_base_with_steps(number, from_base, to_base):
    """
    Convert a number from one base to another and explain the process.

    Args:
    number (str): The number to convert, as a string to support bases higher than 10.
    from_base (int): The base of the provided number.
    to_base (int): The base to convert the number to.

    Returns:
    tuple: The converted number and a string explaining the steps.
    """
    explanation = []

    # Convert from the original base to base 10
    if from_base != 10:
        number_in_base10 = 0
        for i, digit in enumerate(reversed(number)):
            if '0' <= digit <= '9':
                val = int(digit)
            else:
                val = ord(digit.upper()) - ord('A') + 10
            number_in_base10 += val * (from_base ** i)
            explanation.append(f"{digit}*{from_base}^{i}")
        explanation_str = ' + '.join(reversed(explanation)) + f" = {number_in_base10}"
    else:
        number_in_base10 = int(number)
        explanation_str = number

    # Special case for base 10 conversion
    if to_base == 10:
        return str(number_in_base10), explanation_str

    # Convert from base 10 to the desired base
    result = ''
    original_number = number_in_base10
    while number_in_base10 > 0:
        digit = number_in_base10 % to_base
        if digit < 10:
            result = str(digit) + result
        else:
            # For bases higher than 10, use letters
            result = chr(ord('A') + digit - 10) + result
        number_in_base10 //= to_base

    return result if result else '0', f"{original_number} in base {to_base} is {result}. Conversion process: {explanation_str}"

In [ ]:
#convert 10110(base2) to base10
result, steps = convert_base_with_steps('10110', 2, 10)
print(steps)

1*2^4 + 0*2^3 + 1*2^2 + 1*2^1 + 0*2^0 = 22

In [ ]:
#convert 10110(base16) to base10
result, steps = convert_base_with_steps('10110', 16, 10)
print(steps)

1*16^4 + 0*16^3 + 1*16^2 + 1*16^1 + 0*16^0 = 65808

In [ ]:
##Add two binary numbers.
def binary_addition(bin1, bin2):
    # Convert binary strings to integers
    num1 = int(bin1, 2)
    num2 = int(bin2, 2)
    # Add the numbers
    sum = num1 + num2
    # Convert the sum back to binary
    return bin(sum)[2:]

##binary multiplication
def binary_multiplication(bin1, bin2):
    # Convert binary strings to integers
    num1 = int(bin1, 2)
    num2 = int(bin2, 2)
    # Multiply the numbers
    product = num1 * num2
    # Convert the product back to binary
    return bin(product)[2:]

In [ ]:
# convert 17 to binary
result1, steps1 = convert_base_with_steps('17', 10, 2)
print(int(result1)) # trans str to int
# convert 13 to binary
result2, steps2 = convert_base_with_steps('13', 10, 2)
print(int(result2)) # trans str to int
#17 + 13 = 30
result3 = binary_addition(result1, result2) # binary add operation
print(int(result3))

# convert binary to base10
result5, step5 = convert_base_with_steps(result3, 2, 10)
print(int(result5)) # trans str to int
print(int(result5) == 30)

# 17 * 13 = 221
result4 = binary_multiplication(result1, result2) # binary add operation
print(int(result4))

# convert binary to base10
result6, step6 = convert_base_with_steps(result4, 2, 10)
print(int(result6)) # trans str to int
print(int(result6) == 221)

10001
1101
11110
30
True
11011101
221
True

##Floating Point Numbers

In [ ]:
##Floating Point Numbers

Numbers Floating in Space Due to the fact that computers typically have a limited number of bits, it might become inefficient to express some quantities in binary and perform meaningful computations. In certain situations, numbers that are larger than the allotted bits can be represented with the help of floating point numbers. Floats employ 64 bits, which are separated into three categories: fraction, exponent, and sign indication. 52 bits to the fraction, 11 bits to the exponent, and 1 bit to the sign indication. We examine floating below.

The gap is the amount of space that separates one number from the next. We shall confirm that the number that results from adding a number to any number that has a gap of less than half at that number is the same number.

n =(-1)^s2^(e-1023)(1+f)

In [ ]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [ ]:
import numpy as np
np.spacing(1e7) #gives the gap at 1e8

1.862645149230957e-09

In [ ]:
1e7 == (1e7 + np.spacing(1e7)/3) #verify that adding less than half the gap will result in the same number

True

In [ ]:
#overflow
sys.float_info.max + sys.float_info.max

inf

In [ ]:
#underflow
print(2**-1074) #lower limit befor underflow
print(2**-1075) #Show that 2^(âˆ’1075) underflows to 0.0

5e-324
0.0

##Round-off Errors

In [ ]:
##Round-off Errors
##4 - 3.89 is not equal to 0.11
4 - 3.89 == 0.11

False

In [ ]:
##in arithmetic
4 - 3.89

0.10999999999999988

In [ ]:
##round in 5 digits
round(4 - 3.89, 5)  == round(0.11, 5)

True

In [ ]:
##even like multiplication
1.1 * 6

6.6000000000000005

The accumulation of round-off error occurs when we do a series of calculations on an initial input that has been rounded off.

In [ ]:
##If we only do twice
1 - 4/7 + 4/7 - 4/7 + 4/7

1.0

In [ ]:
##Let's make a function to do it many times
def add_and_subtract(iterations):
    result = 1

    for i in range(iterations):
        result += 4/7
    for i in range(iterations):
        result -= 4/7

    return result

In [ ]:
##If we do this 1000 times
add_and_subtract(1000)

0.99999999999998

In [ ]:
##If we do this 1000000 times
add_and_subtract(1000000)

1.0000000000277196

In [ ]:
'''
##And one interesting thing is if you do add operation and subtract operation in the same for loop
##you will miss Round-off Errors
'''
def add_subtract(iterations):
    result = 1

    for i in range(iterations):
        result += 4/7
        result -= 4/7

    return result
add_subtract(1000000)

1.0